Author: Mohd Azam
Date: July, 2019

************ Python Crash Course for DS ************


Content :-

This notebook will just go through the basic topics in order:

# Data types
    Numbers
    Strings
    Printing
    Lists
    Dictionaries
    Booleans
    Tuples
    Sets
# Comparison Operators
# if,elif, else Statements
# for Loops
# while Loops
# range()
# list comprehension
# functions
# global variable and 'global' keyword
# Exception
# class
# lambda expressions
# map and filter

In [ ]:
# Data Type
  #Numbers

In [1]:
1+1

2

In [2]:
2*3

6

In [3]:
6/2

3.0

In [4]:
# It's equal to 2*2*4
2**4

16

In [6]:
4%2

0

In [7]:
5%2

1

In [14]:
(2+3)*(1+4)

25

In [15]:
# Variable Assignment

In [16]:
myVar = 10

In [18]:
yourVar = 20

In [21]:
OurVar = myVar+yourVar
print(OurVar)

30

In [24]:
# String

In [22]:
myVar = 'My Name'

In [23]:
yourVar = "Your Name"

In [25]:
# Print Statement

In [27]:
print('My Name')

My Name

In [28]:
print("My name in double quotes")

My name in double quotes

In [29]:
i = 100
print(i)

100

In [31]:
num = 15
name = 'Azam'

In [32]:
print('My number is: {Number}, and my name is: {Name}'.format(Number=num,Name=name))

My number is: 15, and my name is: Azam

In [33]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 15, and my name is: Azam

In [35]:
#List

In [36]:
[1,2,3]

[1, 2, 3]

In [39]:
['a','b','c']

['a', 'b', 'c']

In [38]:
['Azam','Apple','google','Pune','NIBM']

['Azam', 'Apple', 'google', 'Pune', 'NIBM']

In [58]:
myList = ['Azam','Apple','google','Pune','NIBM']

In [59]:
myList[0]

'Azam'

In [60]:
myList.append('Mumbai')
myList

['Azam', 'Apple', 'google', 'Pune', 'NIBM', 'Mumbai']

In [61]:
myList[1:]

['Apple', 'google', 'Pune', 'NIBM', 'Mumbai']

In [62]:
myList[:1]

['Azam']

In [63]:
myList[:2]

['Azam', 'Apple']

In [69]:
# List can hold mix kind of variables
myList.append(1.6788)

In [65]:
myList

['Azam', 'Apple', 'google', 'Pune', 'NIBM', 'Mumbai', 1.6788]

In [68]:
newNumber = myList[6]+1
newNumber

2.6788

In [77]:
# 2D List
myNewList = [['Azam','Mumbai','Apple'],['Bob','Bangalore','google'],['John','Pune','Microsoft']]

In [78]:
myNewList[2][1]

'Pune'

In [ ]:
# Dictionaries

In [83]:
d = {'key1':1,'key2':2,'key3':3}

In [81]:
d['key2']

2

In [85]:
newD = {'key1':'Apple','key2':'Google','key3':'Microsoft'}

In [86]:
newD['key3']

'Microsoft'

In [87]:
# Booleans

In [88]:
True

True

In [89]:
False

False

In [105]:
# Tuples
# It's immutable, you can't modify 
# Touples are faster than List

In [97]:
myTuples = (1,2,3)

In [98]:
myTuples

(1, 2, 3)

In [100]:
myTuples[2]=4

TypeError: 'tuple' object does not support item assignment

In [103]:
myNewTuples = (1,2,'Apple',1.0345)

In [104]:
myNewTuples[3]

1.0345

In [107]:
# Set
# Collection of unique elements

In [109]:
mySet = set([1,2,3,4,5])

In [110]:
mySet

{1, 2, 3, 4, 5}

In [111]:
mySet = set([1,2,2,2,3,3,3,3,4,4,4,4,5,6,6,6,7,7,7])

In [112]:
mySet

{1, 2, 3, 4, 5, 6, 7}

In [115]:
# Another way to declare Set
myNewSet = {1,2,2,2,3,3,3,3,4,4,4,4,5,6,6,6,7,7,7}

In [114]:
type(myNewSet)

set

In [116]:
myFirstSet = {1,2,7,8,9}

In [117]:
# Union of set mean create a new Set with unique values of both Sets

In [118]:
myFirstSet.union(myNewSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [119]:
# Union intersection mean common value of both sets

In [120]:
myFirstSet.intersection(myNewSet)

{1, 2, 7}

In [121]:
# Comparison Operators

In [122]:
1>2

False

In [123]:
1<2

True

In [124]:
(1+4) == (2+3)

True

In [126]:
'hi' =='hello'

False

In [127]:
# Logic operators

In [128]:
(1>2) or (1<2) or (2>3)

True

In [129]:
(1>2) and (1<2) and (2>3)

False

In [137]:
# if, else, elif Statements

In [133]:
if 1<2:
    print('1 is less than 2')

1 is less than 2

In [134]:
if 1>2:
    print('hi')
else:
    print('Hello')

Hello

In [136]:
i = 5
j = 8

if i>j:
    print('Hi')
elif i>4:
    print('Hello')

Hello

In [138]:
# for loop

In [139]:
myList = [1,2,3,4,5,6]

In [140]:
for item in myList:
    print(item)

1
2
3
4
5
6

In [145]:
# While loop

In [146]:
i = 0
while i<5:
    print(i)
    i = i+1

0
1
2
3
4

In [147]:
# Range

In [148]:
range(0,10)

range(0, 10)

In [149]:
for i in range(5):
    print(i)

0
1
2
3
4

In [150]:
# Funtions

In [151]:
def myFun():
    print('This is my funtion')

In [152]:
myFun()

This is my funtion

In [156]:
def myFunWithDefaultPara(value = 10):
    print(value)

In [157]:
myFunWithDefaultPara()

10

In [158]:
myFunWithDefaultPara(20)

20

In [159]:
def myFunWithPara(value):
    print(value)

In [162]:
# What will happen if funtion will call without passing parameter value
myFunWithPara()

TypeError: myFunWithPara() missing 1 required positional argument: 'value'

In [161]:
myFunWithPara(30)

30

In [163]:
# Global Keyword

In [164]:
c = 1 # global variable

def add():
    print(c)

add()

1

In [165]:
c = 1 # global variable
    
def add():
    c = c + 2 
    print(c)

add()

UnboundLocalError: local variable 'c' referenced before assignment

In [167]:
# Got the error just because we can't modify global varibale, its ready only
# Solution is global keyword

In [168]:
c = 1 # global variable
    
def add():
    global c
    c = c + 2 
    print(c)

add()

3

In [169]:
# Exception handling

In [179]:
test = 10/0

ZeroDivisionError: division by zero

In [182]:
try:
    test = 10/0
except:
    print('Error in claculation')

Error in claculation

In [183]:
# Class

In [238]:
class myClass:
    
    count = 0
    name  = 'Azam'
    
    def __init__(self):
        self.count = 20
        print('I am in class constructor')
    
    def myFunc(self):
        print('you called myFunc class method')
        
    def getNameAndCount(self):
        print(name)
        print(self.count)

In [239]:
# Creating Class Object
objMyClass = myClass()

I am in class constructor

In [240]:
objMyClass.myFunc()

you called myFunc class method

In [241]:
objMyClass.getNameAndCount()

Azam
20

In [242]:
# directly access the Object variables 
objMyClass.count

20

In [247]:
# Lamda Expression----

In [248]:
# Normal Function
def valueDouble(value):
    return value*2

In [249]:
dValue = valueDouble(2)
print(dValue)

4

In [255]:
# Lambda expression
doubleValue = lambda x:x*2

In [256]:
doubleValue(3)

6

In [260]:
# Map ----

In [261]:
items = [1, 2, 3, 4, 5]

In [263]:
# How we can triple the whole list items?
# One by one pass the itmes to 'tripleValue' function, this is not good approach

In [268]:
map(lambda x:x*3,items)
# convert the output into list so below line of code conversion implemented

In [269]:
list(map(lambda x:x*3,items))

[3, 6, 9, 12, 15]

In [270]:
# Filter ---

In [272]:
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))

In [273]:
less_than_zero

[-5, -4, -3, -2, -1]

In [274]:
# If we run the same code with map expression then we can find the differences
number_list = range(-5, 5)
less_than_zero = list(map(lambda x: x < 0, number_list))

In [275]:
less_than_zero

[True, True, True, True, True, False, False, False, False, False]