Author: Mohd Azam
Date: July-2019

In [4]:
### Dataset Reading using Pandas

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('Data/example.csv')

In [9]:
# head function will render 5 rows of data frame and if pass the some value in head method then number of rows display
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
# Write the file in csv format

In [11]:
df.to_csv('Write_Example.csv')

#### Read Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [13]:
df_excel = pd.read_excel('Data/Excel_Sample.xlsx',sheet_name='Sheet1')

In [15]:
df_excel

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [17]:
df_excel.to_excel('Excel_writeSample.xlsx',sheet_name='Sheet1')