Author: Mohd Azam
Date: July, 2019

*****Introduction to Pandas*****

In this section of the traning we will learn how to use pandas for data analysis. We can think of pandas as an extremely powerful and API version of MS Office Excel, with a lot more features. 

 - Introduction to Pandas
 - Series
 - DataFrames
 - Missing Data
 - GroupBy
 - Merging,Joining,and Concatenating
 - Operations
 - Data Input and Output

In [1]:
# Question : What is Pandas?

# pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
# pandas is a NumFOCUS sponsored project. This will help ensure the success of development of pandas as a world-class open-source project,

In [2]:
# Lets start step by step to take Series first

### Pandas Series

The first main data type we will learn about for pandas is the Series data type.
A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object).
A Series can hold any Python Object type instead of numeric value in NumPy.
Series is one dimention and NumPy can be a 2D, 3D

In [5]:
# Import Pandas Library
import pandas as pd
import numpy as np

In [7]:
# Creating a Pandas Series
# You can convert a list,numpy array, or dictionary to a Series:

In [16]:
# Python List of Alphabets and numbers
labels = ['a','b','c']
my_list = [10,20,30]

# Numpy Array and Dictionary
arr = np.array([10,20,30])
dc = {'a':10,'b':20,'c':30}

In [10]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data = my_list, index=labels )

a    10
b    20
c    30
dtype: int64

In [13]:
# We create the Pandas Series with parameter specific 
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [15]:
# Numpy array to Pandas Series, just pass NumPy array in Pandas Servies initializer 
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [18]:
# Dictionary to Pandas Series
pd.Series(dc)

a    10
b    20
c    30
dtype: int64

**** Data Type is Pandas Series ****

In [19]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [20]:
# In above code we are converting char array to Pandas and char is Python Object, lets try to create Pandas Series with other Object type

In [22]:
# Even functions can be hold in Series (We hardly need to use in DS or ML)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

**** Using Index in Series ****

The key to using a Series is understanding its index. 
Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

In [29]:
mySer1 = pd.Series([10,15,30,40],index=['USA','India','China','France'])

In [30]:
mySer1['India']

15

In [31]:
mySer2 = pd.Series([15,5,10,30],index=['USA','India','China','France'])

In [32]:
mySer1+mySer2

USA       25
India     20
China     40
France    70
dtype: int64

In [33]:
# But what happen if the Index gets mismatched

In [35]:
mySer3 = pd.Series([15,5,10,30],index=['USA','India','Italy','France'])

In [36]:
mySer1+mySer3

China      NaN
France    70.0
India     20.0
Italy      NaN
USA       25.0
dtype: float64

In [37]:
# Common Values (data)gets added but mismatched Index values become NaN (null)